[run]
branch = True
omit =
    */tests/*
    niworkflows/conftest.py
    niworkflows/_version.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    raise NotImplementedError
    warnings\.warn
