# python cache
__pycache__
**/__pycache__
*.pyc
**/*.pyc

# python distribution
build/
dist/
niworkflows.egg-info/
.eggs/
docs/
src/

# git
.gitignore
.git/
**/.git

# ci
.travis.yml
appveyor.yml
circle.yml

# testing
.pytest_cache
.cache