# python cache
__pycache__
**/__pycache__
*.pyc
**/*.pyc

# python distribution
build/
dist/
niworkflows.egg-info/
.eggs/
docs/
src/
pip-wheel-metadata/

# git
.gitignore
.git/
**/.git
.github/

# ci
.circleci/
.travis.yml
appveyor.yml
circle.yml

# testing
.pytest_cache
.cache
.coveragerc
.pep8speaks.yml
codecov.yml

# other
.zenodo.json

