exclude: ".*/data/.*"
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: 'examples'
      - id: end-of-file-fixer
        exclude: 'examples|docs/_static/.*\.(css|js)'
      - id: check-yaml
      - id: check-json
      - id: check-toml
      - id: check-added-large-files
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: rst-backticks
        exclude: ^CHANGES.rst
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.10
    hooks:
      - name: ruff check --fix
        id: ruff-check
        args: [ --fix, --show-fixes ]
      - name: ruff format
        id: ruff-format
