# data
include niworkflows/data/*.json
include niworkflows/viz/*.tpl

# nipype report requirements
include niworkflows/nipype/pipeline/engine/report_template.html
include niworkflows/nipype/external/d3.js

#Misc
include requirements.txt
include CHANGES.rst
include LICENSE
