# data
include niworkflows/data/*.json
include niworkflows/data/tests/work/*

# misc
include requirements.txt
include CHANGES.rst
include LICENSE
include versioneer.py
include niworkflows/_version.py
